%h3 Discussions list
- @discussions.each do |discussion|
  .discussion
    = link_to "Discussion with #{discussion.users.collect{|u| u[Inboxes::config.user_name]}.join(', ')}", discussion
  
%p
  = link_to "Create new", new_discussion_path